.footer-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 20px;
}
.bottom-tab {
  border: solid 1px #ccc;
  flex: 1;
  text-align: center;
  padding: 15px;
  background: #fff;
  font-size: 20px;
}
.bottom-tab a {
  text-decoration: none;
  color: #000;
}
.active-nav,
.active-nav a {
  color: #f3ba2f !important;
  text-decoration: none;
}
