.circle-background {
  fill: none;
  transition: all 0.5s ease;
}
.circle-progress {
  fill: none;
  stroke: #ddd;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.5s ease;
}
.circle-text {
  font-size: 14px;
  font-weight: bold;
}
.logo-wrapper {
  width: 60px;
  margin-right: 20px;
}
.logo-wrapper img {
  max-width: 100%;
}
.token-wrapper {
  /* border: solid 1px #ccc; */
  padding: 0 0 0 15px;
  box-shadow: 0 2px 5px 0 #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}
.coin-title {
  margin: 0;
}
.auth-code {
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 200;
}
.last-token-wrapper {
  margin-bottom: 50px;
}
